src/main/resources/cd_catalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Tue May 26 2015 16:09:32 
		GMT+0300 (Eastern Europe Daylight Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="CATALOG">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CD" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TITLE" type="xs:string"></xs:element>
							<xs:element name="ARTIST" type="xs:string"></xs:element>
							<xs:element name="COUNTRY" type="xs:string"></xs:element>
							<xs:element name="COMPANY" type="xs:string"></xs:element>
							<xs:element name="PRICE" type="xs:double"></xs:element>
							<xs:element name="YEAR" type="xs:int"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>